<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link type="text/css" rel="stylesheet" href="css/activity.css" />
    <link type="text/css" rel="stylesheet" href="css/header.css" />
    <link type="text/css" rel="stylesheet" href="css/footer.css" />

</head>
<body>

<div class="a-header">
</div>

<div class="a-title-bar">
    <div class="user">
        <div class="head">
            <div class="icon"></div>
            路过一只鸭
        </div>
        <div class="activity-info">
            <div class="name">主办方：The Barge</div>
            <div class="contact">联系方式：18768178921</div>
        </div>

        <div class="clear-fix"></div>
    </div>
</div>

<div class="fix-line">
    <div class="middle">
        <div class="box">
            <input>
            <input>
            <div class="logo">登陆</div>
        </div>
    </div>
</div>

<div class="activity-bg">
    <div class="main">
        <div class="left-panel">
            <div class="title">打三国杀</div>
            <div class="imgs"></div>
            <div class="time">2014/8/20 15:00 星期一</div>
            <div class="description">8 月 16 日 MIUI 6 发布会上，洪锋在介绍 MIUI 系统的安全能力时，用了好几页 PPT 讲「系统级的安全才是真正的安全」。那么什么是「系统级的安全」？小米为了打造「系统级的安全」做了哪些工作？「系统级的安全」是不是真正的安全？我们邀请小米 MIUI 安全中心负责人马骥来深入解读「系统级安全」这个概念，及他们对手机安全有哪些不一样的认识。</div>
            <div class="attention">8 月 16 日 MIUI 6 发布会上，洪锋在介绍 MIUI 系统的安全能力时，用了好几页 PPT 讲「系统级的安全才是真正的安全」。那么什么是「系统级的安全」？小米为了打造「系统级的安全」做了哪些工作？「系统级的安全」是不是真正的安全？我们邀请小米 MIUI 安全中心负责人马骥来深入解读「系统级安全」这个概念，及他们对手机安全有哪些不一样的认识。</div>
            <div class="map">TODO</div>
        </div>
    </div>
</div>

<div class="about-comments-bg">
    <div class="main">
        <div class="left-panel">
            <div class="about-me">
                <div class="head">
                    <div class="icon"></div>
                    路过一只鸭
                </div>
                <div class="sign">你若安好，备胎到老</div>
                <div class="credit">
                    三颗星
                </div>
                <div class="approve">
                    已认证
                </div>
            </div>

            <div class="discuss-num">
                32条关于他的评论
            </div>

            <div class="btn-discuss">点击留言评论他</div>
            <div class="each-message">
                <div class="head">
                    <div class="icon"></div>
                    路过一只鸭
                </div>
                <div class="message-time">2014/8/8</div>
                为所有的爱与死与罪与罚而祈祷，为每个人的青春、痛苦、孤独和梦想而歌唱<br/>
                为所有的爱与死与罪与罚而祈祷，为每个人的青春、痛苦、孤独和梦想而歌唱<br/>
                为所有的爱与死与罪与罚而祈祷，为每个人的青春、痛苦、孤独和梦想而歌唱
            </div>
            <div class="each-message">
                <div class="head">
                    <div class="icon"></div>
                    对不起来晚了
                </div>
                <div class="message-time">2014/8/8</div>
                1、A：要是有人给你两百万，让你吃一坨屎，你干不干?B：我要把那个人吃破产。
            </div>
            <div class="each-message">
                <div class="head">
                    <div class="icon"></div>
                    原来是这样穿的
                </div>
                <div class="message-time">2014/8/8</div>
                2、和男友闹分手，我嚷嚷着要回家，开始收拾行李，毛衣毛裤啊秋衣秋裤啊这呀那呀的。男友急了，抱着我那些衣服就往盆里塞，瞬间接上水，还说，我看你怎么走…… 瞬间我无语了，然后就洗了一天的衣服。
                　　3、有点喝高了，踉踉跄跄回到家，女友扶我上床，想起来网上的段子，故意一把把女友推开，吼道：别碰我，我是有老婆的人了!到现在女友还在逼问我是不是结过婚有老婆了，不说清楚就分手!不说了，挑礼物去了。。
            </div>
            <div class="each-message">
                <div class="head">
                    <div class="icon"></div>
                    撸管的菊花
                </div>
                <div class="message-time">2014/8/8</div>
                涨姿势了
            </div>
        </div>
    </div>
</div>
<!--div class="about-me">
    <div class="head-icon"></div>
    <div class="sign">af屌丝歌神</div>
</div>
<div class="clear-fix"></div>

<div class="comments">
    <span class="by-name">嘉兴市 矮丑穷网友 2014/8/8 10:08:56 发表 </span>
    <span class="message">这个活动非常好，呵呵，呵呵</span>
</div>
<div class="comments">
    <span class="by-name">嘉兴市 矮丑穷网友 2014/8/8 10:08:56 发表 </span>
    <span class="message">这个活动非常好，呵呵，呵呵</span>
</div>
<div class="comments">
    <span class="by-name">嘉兴市 矮丑穷网友 2014/8/8 10:08:56 发表 </span>
    <span class="message">这个活动非常好，呵呵，呵呵</span>
</div>
<div class="comments">
    <span class="by-name">嘉兴市 矮丑穷网友 2014/8/8 10:08:56 发表 </span>
    <span class="message">这个活动非常好，呵呵，呵呵</span>
</div>
<div class="comments">
    <span class="by-name">嘉兴市 矮丑穷网友 2014/8/8 10:08:56 发表 </span>
    <span class="message">这个活动非常好，呵呵，呵呵</span>
</div>
<div class="get-more">点击获取更多评论</div>
<div class="send-box">
    <textarea></textarea>
    <div class="send-message">发表评论</div>
</div-->




<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>

<script type="text/javascript">
    $(function()
    {
    })
</script>


</body>
</html>